_site
.sass-cache
.jekyll-cache
.jekyll-metadata
.obsidian/**
vendor
_posts/.obsidian/*
.obsidian/app.json
.obsidian/appearance.json
.obsidian/community-plugins.json
.obsidian/core-plugins.json
.obsidian/graph.json
.obsidian/hotkeys.json
.obsidian/starred.json
.obsidian/workspace
.obsidian/workspace.json
.obsidian/plugins/cm-typewriter-scroll-obsidian/data.json
.obsidian/plugins/cm-typewriter-scroll-obsidian/main.js
.obsidian/plugins/cm-typewriter-scroll-obsidian/manifest.json
.obsidian/plugins/cm-typewriter-scroll-obsidian/styles.css
.obsidian/plugins/obsidian-excalidraw-plugin/data.json
.obsidian/plugins/obsidian-excalidraw-plugin/main.js
.obsidian/plugins/obsidian-excalidraw-plugin/manifest.json
.obsidian/plugins/obsidian-excalidraw-plugin/styles.css
.obsidian/plugins/obsidian-sort-and-permute-lines/main.js
.obsidian/plugins/obsidian-sort-and-permute-lines/manifest.json
.obsidian/plugins/window-collapse/main.js
.obsidian/plugins/window-collapse/manifest.json
test.txt
